div.navDiv {
  max-width: 35%;
  margin: {
    left: auto;
    right: auto;
  }
  nav {
    display: flex;
    margin: 0rem;
    padding: {
      top: 1rem;
      bottom: 1rem;
    }
    a {
      justify-content: space-evenly;
      font-size: 150%;
      margin: auto;
      margin-bottom: 2rem;
    }
  }
}
